<!DOCTYPE html>
<html>
<head>
    <title>{{ ip_type }} Filter for {{ asn }}</title>
</head>
<body>
    <h1>{{ ip_type }} Filter for {{ asn }}</h1>
    <p>NODE ID: {{ node_id }}</p>
    <h2>AS: {{ asn }}</h2>
    <h2>AS-SET: {{ as_set }}</h2> <!-- 添加 AS-SET 名称 -->
    <h3>Choose Filter Type:</h3>
    <ul>
        <li><a href="/filter/{{ asn }}/{{ as_set }}/ipv4">IPv4</a></li>
        <li><a href="/filter/{{ asn }}/{{ as_set }}/ipv6">IPv6</a></li>
    </ul>
    <a href="/">Return to Home</a>
</body>
</html>
